/* Redmine Lightbox - Plugin specific styles */

/* Lightbox preview thumbnails */
a.lightbox-preview img {
  margin: 0 4px;
  width: 18px;
}

/* GLightbox custom overrides for Redmine integration */
.glightbox-container .gslide-description {
  background: rgb(0 0 0 / 75%);
}

/* Fix for GLightbox Issue #235: Title blocking iframe content
 * https://github.com/biati-digital/glightbox/issues/235
 * When iframe has a title, the description blocks the iframe content */
.glightbox-container .gslide-iframe .gslide-description {
  position: absolute;
  bottom: 0;
  flex: 0 0 auto;
}
